/build
.idea
.gradle
.idea/
/.idea
/.gradle

# Java and Gradle #
############
build/
.gradle/
out/
out
gradle
gradlew.bat
gradlew
settings.gradle
https://github.com/kibuchi-muchai/caesarcipher/blob/main/build.gradle
